.git
.gitignore
node_modules
npm-debug.log
Dockerfile*
docker-compose*
README.md
LICENSE
.vscode
nohup*
build
cocpit.img
.dvc*
.ipynb_checkpoints/
.resize_imgs.py.swp
dist
notebooks/
plots/
git-sier

