apptainer
!*.dvc
.nginx
nbextension-scratchpad
.env
docker_builds/cocpit.egg*
cocpit.egg-info
setup.py
ETOP*
test.ipynb
tmp*
final_databases
.DS_store
.virtual_documents
file_system_store
data
cpi_data
test_sheets
initial_databases
nohup*
dist
IPAS_verification
ADPAA
*.swp
resnet.pt
.ipynb_checkpoints/
guild-env
guild-start
logs
config_cocpit.py
notebooks
saved_models
saved_val_loaders
saved_accuracies
vanessa
node_modules
plots
build
final_databases*
*.csv
*.db
*.pkl
configs
git-sizer
__pycache__
cocpit.img
pytorch-grad-cam
.vscode
