# Ignore Mac system files
.DS_store
.virtual_documents
cpi_data
nohup*
dist
IPAS_verification
ADPAA
*.swp
resnet.pt
.ipynb_checkpoints/
guild-env
guild-start
logs
notebooks
saved_models
saved_val_loaders
saved_accuracies
vanessa
node_modules
plots
build
final_databases*
*.csv
*.db
*.pkl
configs
git-sizer
__pycache__
cocpit.img
.vscode
