matplotlib=3.5.1=pypi_0
matplotlib-inline=0.1.3=pypi_0
mistune=0.8.4=pypi_0
multidict=5.2.0=py38hea4295b_1
nbclient=0.5.9=pypi_0
nbconvert=6.3.0=pypi_0
nbformat=5.1.3=pypi_0
ncurses=6.2=h9aa5885_4
nest-asyncio=1.5.4=pypi_0
notebook=6.4.6=pypi_0
numpy=1.21.4=pypi_0
nvidia-ml-py3=7.352.0=pypi_0
oauthlib=3.1.1=pyhd8ed1ab_0
opencv-python=4.5.4.60=pypi_0
openssl=1.1.1l=h3422bc3_0
opt_einsum=3.3.0=pyhd8ed1ab_1
packaging=21.3=pypi_0
pandas=1.3.5=pypi_0
pandocfilters=1.5.0=pypi_0
parso=0.8.3=pypi_0
pexpect=4.8.0=pypi_0
pickleshare=0.7.5=pypi_0
pillow=8.4.0=pypi_0
pip=21.3.1=pyhd8ed1ab_0
prometheus-client=0.12.0=pypi_0
promise=2.3=pypi_0
prompt-toolkit=3.0.24=pypi_0
protobuf=3.19.1=py38h6f2b01f_1
ptyprocess=0.7.0=pypi_0
pyasn1=0.4.8=py_0
pyasn1-modules=0.2.7=py_0
pycparser=2.21=pyhd8ed1ab_0
pygments=2.10.0=pypi_0
pyjwt=2.3.0=pyhd8ed1ab_1
pyopenssl=21.0.0=pyhd8ed1ab_0
pyparsing=3.0.6=pypi_0
pyrsistent=0.18.0=pypi_0
pysocks=1.7.1=py38h10201cd_4
python=3.8.12=hab31e5c_2_cpython
python-dateutil=2.8.2=pypi_0
python-dotenv=0.19.2=pypi_0
python_abi=3.8=2_cp38
