autoflake
black
comet-ml==3.12.0
python-dotenv
efficientnet-pytorch==0.7.1
imutils==0.5.4
jedi-language-server==0.32.0
jupyterlab-git==0.30.1
jupyter-client==6.1.11
jupyter-core==4.7.1
jupyter-lsp==1.1.4
python-lsp-server==1.0.1
jupyter-server==1.3.0
jupyterlab==3.0.17
jupyterlab-lsp==3.4.1
jupyterlab-code-formatter==1.4.10
jupyter-packaging==0.10.2
jupyterlab-pygments==0.1.2
jupyterlab-server==2.2.0
jupyterlab-tabular-data-editor==1.0.0
jupyterlab-widgets==1.0.0
natsort
nbstripout==0.3.9
nbconvert==5.6.1
opencv-python==4.5.1.48
Pillow==8.1.1
pre-commit==2.13.0
pylint==2.7.0
python-dotenv
seaborn==0.11.1
setuptools==57.0.0
scikit-learn==0.24.2
SQLAlchemy==1.4.18
matplotlib==3.3.4
twilio==6.52.0
torch==1.8.0
torchvision==0.9.0
